{
  "dev" : {
    "auth_key" : "",
    "s3": {
      "bucketName": ""
    }
  },
  "production" : {
    "auth_key" : "",
    "s3": {
      "bucketName": ""
    },
    "db" : {
      "username": "",
      "password": ""
    }
  }
}
